<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [13]:
saudacao = 'Olá, mundo!'
print(saudacao)

Olá, mundo!

Crie uma célula de texto e adicione uma imagem.

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [6]:
tm = 320.52
qtv = 3
vtv = tm * qtv
print(vtv)

961.56

In [ ]:
vtv = 834.47
tm = 119.21 
qtv = vtv / tm
print.(qtv)

7.000000000000001

In [8]:
vtv = 15378.12
qtv = 5
tm = vtv / qtv
print(tm)

3075.6240000000003

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [10]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

print('Roda mundo'.capitalize())  
print('roda gigante'.upper())  
print('roda moinho'.lower())  
print('roda pião'.title())

Roda mundo
RODA GIGANTE
roda moinho
Roda Pião

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [11]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

selic = noticia.split()[3].replace('%', '') 

ano = noticia.split()[-2] 

print(f"Taxa Selic: {selic}")
print(f"Ano: {ano}")

Taxa Selic: 2,75
Ano: 6

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [ ]:
a = False
b = True

x = not a & b

print(x)

True